<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  	{% include tagmanager.html %}
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper welcome">
      	<div class="slick-container-container">
	      	<div class="slick-container">
		      	<div class="slick">
		    		<div>
						<p>üdvözöljük a kiemelt Nemzeti Emlékhelyen, a Kossuth téren! </p>

						<p>Rövid bemutatónk a rendszer használatáról.</p>
						<div class="prompt slick-slide-to-next">Kérjük lapozzon 
						<span class="button-forward">
	      					<img src="{{ site.baseurl }}/assets/img/icons/button_forward.png"/>
	    				</span>
	    				</div>
					</div>
					<div>
						<p>Keresse a fejhallgató szimbólumot a kiállításon, majd nyomja meg az előtte lévő számot a kezdéshez.</p>
						<p>
							<img class="welcome-example-icon slick-slide-to-next" src="{{ site.baseurl }}/assets/img/welcome/example-headphones-icon.gif"/>
						</p>
					</div>
					<div>
						<p>A képernyő jobb felső sarkában lévő menü ikon megnyomásával módosíthatja a megállókat.</p>
						<p>
							<img class="screenshot slick-slide-to-next" src="{{ site.baseurl }}/assets/img/welcome/highlight-bento-menu.gif"/>
						</p>
					</div>
					<div>
						<p>A képernyő alján található gombok segítségével lépjen a következő vagy az előző megállóhoz.</p>
						<p>
							<img class="screenshot slick-slide-to-next" src="{{ site.baseurl }}/assets/img/welcome/highlight-footer-buttons.gif"/>
						</p>
					</div>
					<div>
						<br/>
						<p class="centered"><a href="{{ site.baseurl }}/">Kezdéshez érintse meg az ikont</a></p>
						<p class="centered">
							<a href="{{ site.baseurl }}/" class="prompt-big"><button class="styled-button"><img src="{{ site.baseurl }}/assets/img/icons/button_forward.png"/></button></a>
						</p>
					</div>
		    	</div>
		    </div>
		</div>
	    <div id="arrows-container">
	    </div>

        {{ content }}
      </div>
      	    <p class="skip-text">
	    	<a href="{{ site.baseurl }}/">
	        	Rendben van, kezdhetjük!
	    	</a>
	    </p>
    </div>

  </body>

</html>
